.sidebar-container {
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.sidebar {
    height: 100%;
    background-color: #fff;
}

.drawer {
    width: 100%;
    border-radius: 2px;
    background-color: #fff;
}


.close-menu {
    width: 100%;
    margin-top: 6px;
    padding: 6px;
    text-align: end;
}